
.grey-strip-1 {
  background-color: #000;
  color: #ff4f81;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
}

.strip-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.strip-icon {
  width: 14px;
  height: 14px;
}

.header-text {
  font-size: 14px;
  font-weight: 500;
  color: #ff4f81;
  margin: 0;
}


.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.small-logo {
  width: 26px;
  height: 26px;
}

.logo-text {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  text-align: center;
  flex: 1;
  color: #000;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.language-icon {
  width: 40px;
  height: 15px;
  cursor: pointer;
}


@media (max-width: 767px) {
  .language-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
